* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

#root {
  width: 90%;
  margin: 10px auto;
}

h1 {
  padding: 10px 0;
}

button {
  margin-top: 10px;
}

a {
  margin-top: 15px;
}